@import "variables";

button {
    background: #636363;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ececec;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: $secondary-color;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}
