@import "modules/_variables";
@import "modules/_base";
@import "modules/_button";

body {
  .container {
    height: 100vh;

    .row {
        display: table;
    }

    .cell {
        float: left;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        text-align: center;
    }

    .false {
        color: $additional-color1;
    }

    .true {
        background-color: $primary-color;
        color: $primary-color;
    }
  }
}
